body, html {
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.title {
  padding-top: 20px;
  font-size: 3rem;
}

.text {
  color: antiquewhite;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secondary {
  padding-left: 20px;
  padding-top: 20px;
}

.desc {
  font-size: large;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: green;
}
