.navbar {
  background-color: #646464;
  font-family: "Poppins", sans-serif;
}
#project-menu {
  background-color: #711717;
}
#welcome {
  font-size: 3em;
  color: #711717;
  font-family: "Rampart One", cursive;
}
#p1 {
  font-size: 1.5em;
  color: white;
  font-family: "Poppins", sans-serif;
}
#p2 {
  color: white;
  font-family: "Poppins", sans-serif;
}
#card1 {
  width: 18rem;
  background-color: black;
  border: solid #711717;
  border-radius: 17px;
  font-family: "Poppins", sans-serif;
}
#card2 {
  background-color: black;
  border: solid #711717;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}
#card3 {
  background-color: black;
  border: solid #711717;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}
